@import "../../assets/theme-variables.scss";

.form {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 300px;
  justify-content: space-around;
  padding: 20px;
  margin: 10px 5px;
  border-radius: 9px;
  @include themify($themes) {
    background: themed("new-note");
  }

  &__button {
    height: 30px;
    width: 100px;
  }

  &__input {
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 3px;
  }

  &__error {
    color: red;
  }
}

.form > * {
  margin: 3px;
}
