@import "../../assets/theme-variables.scss";

.header {
  padding: 20px 30px;
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-around;
  @include themify($themes) {
    background: themed("header-color");
    color: themed("font-color");
  }

  &__title:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
