@import "../../assets/colors.scss";

.note-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: space-around;
  padding: 20px;
  margin: 10px 5px;
  border-radius: 9px;
  background-color: #e5e5e5;

  &__title {
    word-break: break-word;
    font-weight: 600;
  }

  &__tag {
    height: 8px;
    margin: 5px;
    font-size: 10px;
  }

  &__button {
    width: 90px;
    height: 25px;
    background-color: $button-color;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
  }
}
