$bg-color: #e5e5e5;

$hunter-green: #3e5641ff;
$button-color: #a24936ff;
$button-hover: #d36135ff;
$charleston-green: #282b28ff;
$green-sheen: #83bca9ff;

$turquoise-green: #b8d8baff;
$pale-spring-bud: #d9dbbcff;
$bisque: #fcddbcff;
$mauvelous: #ef959dff;
$deep-taupe: #69585fff;
